.containerLeft {
    padding: 100px 50px 100px 50px;
    width: 95%;
    background-color: black;
    color: white;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.containerRight {
    margin-left: 5%;
    padding: 100px 50px 100px 50px;
    width: 95%;
    background-color: black;
    color: white;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.intro {
    padding-bottom: 10px;
    font-size: 1vw;
}

.footer {
    color: white;
}

.header {
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

.slideshow {
}

.git {
    color: black;
    float: right;
    height: 4%;
    width: 4%;
}

.git:hover {
    color: grey;
    cursor: pointer;
    float: right;
    height: 4%;
    width: 4%;
}

.link {
    color: black;
    float: right;
    height: 4%;
    width: 4%;
}

.link:hover {
    color: grey;
    cursor: pointer;
    float: right;
    height: 4%;
    width: 4%;
}

.contact {
    height: 100%;
    width: 4%;
}
