.containerLeft {
    padding: 100px 50px 100px 50px;
    width: 95%;
    background-color: black;
    color: white;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.containerRight {
    margin-left: 5%;
    padding: 100px 50px 100px 50px;
    width: 95%;
    background-color: black;
    color: white;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.intro {
    width: 50%;
    padding-bottom: 10px;
    font-size: 25px;
}

.slideshow {
    width: 50%;
    height: 50%;
    max-height: 50%;
    max-width: 50%;
    float:right;
}
