.navi {
    height: 200px;
    -webkit-transition:height .2s linear;
    font-size: 30px;
    background-color: black;
    font-weight: bold;
}

.navbar-custom {
    background-color:black;
    color:orange;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: orange;
    border-radius: 25px;
}

.navbar-custom .navbar-brand {
    color:white;
}
.navbar-custom .navbar-toggle {
    background-color:white;
}
.navbar-custom .icon-bar {
    background-color:white;
}

.navi.compressed {
    height: 100px;
    -webkit-transition:height .5s linear;
    font-size: 30px;
    background-color: black;
    font-weight: bold;
}

.navi a {
    font-size: 30px;
    color: orange;
    font-weight: bold;
}

/* SHIFT */
.shift ul li a {
  position:relative;
  z-index: 1;
}
.shift ul li a:hover {
  color: #91640F;
}
.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* stroke */
.stroke ul li a,
.navi a {
  position: relative;
  border-radius: 25px;
}
.stroke ul li a:after,
.navi a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: orange;
  height: 2px;
  border-radius: 25px;
}
.stroke a:hover:after {
  width: 100%;
  border-radius: 25px;
}

.navi a {
  transition: all 1s;
}

.navi a:after {
  text-align: right;
  content: '.';
  margin: 0;
  opacity: 0;
}
.navi a:hover {
  color: white;
  z-index: 1;
}
.navi a:hover:after {
  z-index: -10;
  animation: navi 1s forwards;
  -webkit-animation: navi 1s forwards;
  -moz-animation: navi 1s forwards;
  opacity: 1;
}
/* Keyframes */
@-webkit-keyframes navi {
  0% {
    width: 0%;
    height: 2px;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: red;
  }
}
