.App {
    background-color: #343a40;
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 20vh 0 0 black; /* <-- 10px spread radius */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spacer1 {
    height: 100px;
    background-color: #6AA4B8;
    border-bottom-left-radius: 100px;
}

.spacer2 {
    height: 100px;
    background-color: #6AA4B8;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.spacer3 {
    height: 100px;
    background-color: #6AA4B8;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
